{% extends "base.html" %}
{% block title %}Autos iRacing{% endblock %}

{% block content %}
<h1>Autos Comprados</h1>

<button id="load-cars-button" class="btn-primary" onclick="fetchCarsList()">
    Cargar Autos
</button>

<div id="loading" style="display:none">⏳ Cargando...</div>

<input type="text" id="search-box" placeholder="Buscar auto..." style="display: none" class="search-box"/>

<div id="cars-container" class="table-wrapper"></div>

<script src="{{ url_for('static', filename='js/cars.js') }}"></script>
{% endblock %}
