<style>
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
    gap: 15px;
    flex-wrap: wrap;
  }

  .header a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #444;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
  }

  .header a:hover {
    background-color: #666;
  }
</style>

<div class="header">
  <a href="https://lunahri.net.ar">🥵 Lunahri </a>
  <a href="https://iracing.lunahri.net.ar">📊 iRacing Series </a>
  <a href="https://iracing.lunahri.net.ar/all_dates">📅 Todas las Fechas </a>
  <a href="https://iracing.lunahri.net.ar/cars">🚗 Autos </a>
</div>
